* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

body {
  background: url(https://st2.depositphotos.com/4142621/7848/i/950/depositphotos_78483156-stock-photo-hotel-room-with-beautiful-night.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

header {
  position: relative;
  top: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

svg {
  color: rgba(255, 255, 255, 0.687);
  width: 8vh;
  height: 8vh;
  padding-bottom: 2vh;
}

h1 {
  color: rgba(255, 255, 255, 0.687);
}

h4 {
  color: rgba(255, 255, 255, 0.496);
  width: 80%;
  padding-top: 2vh;
  font-style: italic;
  text-align: center;
}

.primmary-btn,
.secondary-btn {
  height: 5vh;
  margin-top: 2vh;
  width: 50%;
  background-color: rgba(97, 128, 252, 0.816);
  border: none;
  color: white;
  border-radius: 5%;
  font-size: large;
}

.secondary-btn {
  background-color: rgba(62, 76, 130, 0.25);
  border: 0.5px solid rgb(62, 76, 130);
}
